.document {
  position: relative;

  color: #3b3b3b;

  padding: 20px;

  border-radius: 15px;
  background-color: #ececec;
  transition: background-color 0.2s, color 0.2s;

  &:hover,
  &:focus-visible {
    color: #ffffff;
    background-color: #777dc8;
    outline: none;

    & .document__link-edit,
    .document__button-delete {
      border: 1px #ffffff solid;
      transition: border 0.2s;
      cursor: pointer;
    }

    & .document__link-edit {
      &:active {
        border: 1px #bbbbbb solid;
      }
    }

    & .document__button-delete {
      &:active {
        border: 1px #ae2820 solid;
        opacity: 0.8;
      }
    }

    & .document__icon-edit {
      & > path {
        stroke: #ffffff;
        transition: stroke 0.2s;
      }
    }

    & .document__icon-trash {
      & path {
        stroke: #ffffff;
        transition: stroke 0.2s;
      }
    }
  }

  &:active {
    cursor: grab;
  }
}

.document__title {
  font-size: 28px;
  line-height: 30px;

  padding: 0 120px 0 0;
  margin: 0 0 25px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 27px;

    padding: 0;
    margin: 0 0 10px;
  }
}

.document__content {
  font-size: 16px;
  line-height: 20px;

  margin: 0 0 10px;

  @include vp-1199 {
    font-size: 14px;
  }
}

.document__menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  gap: 5px;

  @include vp-1199 {
    position: static;
    justify-content: end;
  }
}
