.document {
  position: relative;

  color: #3b3b3b;

  padding: 20px;

  border-radius: 15px;
  background-color: #ececec;
  transition: background-color 0.2s, color 0.2s;

  &:hover,
  &:focus-visible {
    color: #ffffff;
    background-color: #777dc8;
    outline: none;

    & .document__link,
    .document__button-delete {
      border: 1px #ffffff solid;
      transition: border 0.2s;
      cursor: pointer;
    }

    & .document__link {
      &:active {
        border: 1px #bbbbbb solid;
      }
    }

    & .document__button-delete {
      &:active {
        border: 1px #ae2820 solid;
        opacity: 0.8;
      }
    }

    & .document__icon-edit {
      & > path {
        stroke: #ffffff;
        transition: stroke 0.2s;
      }
    }

    & .document__icon-trash {
      & path {
        stroke: #ffffff;
        transition: stroke 0.2s;
      }
    }
  }

  &:active {
    cursor: grab;
  }
}

.document__title {
  font-size: 28px;
  line-height: 30px;

  padding: 0 120px 0 0;
  margin: 0 0 25px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 27px;

    padding: 0;
    margin: 0 0 10px;
  }
}

.document__content {
  font-size: 16px;
  line-height: 20px;

  margin: 0 0 10px;

  @include vp-1199 {
    font-size: 14px;
  }
}

.document__menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  gap: 5px;

  @include vp-1199 {
    position: static;
    justify-content: end;
  }
}

.document__link,
.document__button-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;

  background-color: transparent;
  border: 1px #777dc8 solid;
  border-radius: 5px;

  :not(:disabled) {
    cursor: pointer;
  }

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.document__link {
  &:active {
    & > .document__icon-edit {
      & path {
        stroke: #bbbbbb;
      }
    }
  }
}

.document__button-delete {
  pointer-events: initial;

  &:active {
    & > .document__icon-trash {
      & path {
        stroke: #ae2820;
        opacity: 0.8;
      }
    }
  }
}

.document__icon-edit,
.document__icon-trash {
  width: 24px;
  height: 24px;

  & > path {
    stroke: #777dc8;
  }

  @include vp-767 {
    width: 18px;
    height: 18px;
  }
}
